body {
    text-align: center;
}

#inputBar {
    padding: 7px;
    width: 60%;
    border-radius: 6px;
    border: solid 1px black;
}

.loginBtn {
    padding-left: 35px;
    padding-right: 35px;
}

.accountBtn {
    text-decoration: none;
}

.outsideContainer {
    position: relative;
    left: 30%;
    background-color: #1B1B1B;
    width: 45%;
    border-radius: 12px;
}

.checkboxDiv {
    padding-top: 10px;
    margin-right: 190px;
    text-align: center;
}