@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

.App {
    font-family: 'Rubik', sans-serif; 
    background-color: #000000; 
    color: white;
}

.Card {
    padding: 25px;
}

.CardTitle {
   text-align: center;
}

.CardText, .CardButton {
    text-align: center;
}

.NavBar {
    font-size: 18px;
    padding: 25px;
    background-color: #1B1B1B;
}

.titles {
    padding: 25px;
}


.pageFooter {
    margin-top: 10px;
    background-color: #1B1B1B;
}

/*******************
    HOME/COVER
*******************/

#coverPhotoContainer {
    background-color: #1B1B1B;
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#coverPhoto {
    text-align: center;
    max-width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

#textOnCover {
    text-align: center;
}

/* .btnOnCover {
    position: absolute;
    right: 65%;
    top: 33%;
} */

#btnOnCover {
    text-align: center;
}

.newsBody {
    background-color: black;
}

.cardBackground {
    background-color: #1B1B1B !important;
}

.carouselContainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

/*******************
    Instructors
*******************/
#zamoraContainer {
    background-color: #1B1B1B;
    border-radius: 16px;
    margin-top: 35px;
}

.zamoraPhoto {
    border-radius: 16px;
}


#bruceContainer {
    background-color: #1B1B1B;
    border-radius: 16px;
}

.bruceBody {
    background-color: #000000;
}

/*******************
    SCHEDULE
*******************/

tr, th {
    background-color:#1B1B1B;
    color: white !important;
}

#notTargeted {
    color: rgb(139, 139, 139) !important;
}

#classTime {
    color: white;
}

/*******************
    ABOUT
*******************/

.aboutContainer {
    background-color: #1B1B1B;
    padding: 60px;
}

.socialMedia {
    padding: 10px;
    display: inline-block;
}
