@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

.App {
    font-family: 'Rubik', sans-serif; 
    background-color: rgb(243, 233, 233); 
}

.Card {
    padding: 25px;
}

.CardTitle {
   text-align: center;
}

.CardText, .CardButton {
    text-align: center;
}

.coverPhoto {
    text-align: center;
    z-index: 1;
    color: white;

}

.textOnCover {
    position: absolute;
    right: 53%;
    top: 26%;
  }

.btnOnCover {
    position: absolute;
    right: 65%;
    top: 33%;
}

.NavBar {
    font-size: 18px;
    outline: solid black;
    padding: 25px;
}

/* .card {
    box-shadow: 5px 5px 20px 1px
} */

/* .resumeBody {
    padding-top: 115px;
} */

.titles {
    padding: 25px;
}

/* .contactPhoto {
    z-index: 1;
    text-align: center;
}

.contactHeader {
    position: absolute;
    right: 55%;
    top: 10%;
} */

.cardBody {
    background-color: rgb(243, 233, 233); 
    padding-top: 30px;
}

.newsBody, .bruceBody, .scheduleBody {
    background-color: white;
}

.pageFooter {
    margin-top: 10px;
}